---
import Card from '../../components/Card.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths({ paginate }) {
  const posts = await Astro.glob('./*.md');
  const sortedPosts = posts.sort(
    (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
  );

  return paginate(sortedPosts, { pageSize: 6 });
}

const { page } = Astro.props;
---

<BaseLayout title="Blog">
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="grid grid-cols-1 items-stretch gap-6 md:grid-cols-3">
      {page.data.map((post) => <Card post={post} />)}
    </div>
  </div>

  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="flex justify-center gap-8">
      {page.url.prev && <a href={page.url.prev}>← Newer Posts</a>}
      {page.url.next && <a href={page.url.next}>Older Posts →</a>}
    </div>
  </div>
</BaseLayout>
