<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="border-t border-gray-600 pt-5 sm:flex sm:items-center sm:justify-between">
    <div class="text-sm text-gray-200">© Copyright {new Date().getFullYear()} by Eric.</div>
    <div class="mt-4 flex gap-x-2 sm:mt-0">
      <a
        href="https://twitter.com/phatvo0509"
        aria-label="twitter"
        target="_blank"
        rel="noreferrer"
      >
        <img src="/assets/images/twitter.png" alt="twitter" class="w-8" />
      </a>
      <a href="https://t.me/phatvo0509" aria-label="telegram" target="_blank" rel="noreferrer">
        <img src="/assets/images/telegram.png" alt="telegram" class="w-8" />
      </a>
      <a
        href="https://www.upwork.com/freelancers/~0159b9276096d9cc7b"
        aria-label="upwork"
        target="_blank"
        rel="noreferrer"
      >
        <img src="/assets/images/upwork.png" alt="upwork" class="w-8" />
      </a>
      <a href="https://github.com/1612492" aria-label="github" target="_blank" rel="noreferrer">
        <img src="/assets/images/github.png" alt="github" class="w-8" />
      </a>
      <a
        href="https://www.linkedin.com/in/phat-vo98"
        aria-label="linkedin"
        target="_blank"
        rel="noreferrer"
      >
        <img src="/assets/images/linkedin.png" alt="linkedin" class="w-8" />
      </a>
    </div>
  </div>
</div>
