<!-- component -->
<style>
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
  }

  .fadeOut {
    animation-name: fadeOut;
    animation-duration: 500ms;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
</style>

<button id="modal-open">Open Modal</button>

<div
  id="backdrop"
  class="fixed bg-black bg-opacity-50 w-full h-100 inset-0 z-10 overflow-hidden flex justify-center items-center fadeIn"
>
  <div class="fixed bg-white w-11/12 md:max-w-md mx-auto rounded z-50 overflow-y-auto">
    <div class="py-4 px-6">
      <button id="modal-close">Cancel</button>
    </div>
  </div>
</div>

<script>
  const backdrop = document.getElementById('backdrop');

  const closeModal = () => {
    backdrop.classList.remove('fadeIn');
    backdrop.classList.add('fadeOut');
    setTimeout(() => {
      backdrop.style.display = 'none';
    }, 500);
  };

  const openModal = () => {
    backdrop.classList.remove('fadeOut');
    backdrop.classList.add('fadeIn');
    backdrop.style.display = 'flex';
  };

  const buttonOpen = document.getElementById('modal-open');
  const buttonClose = document.getElementById('modal-close');

  buttonOpen.addEventListener('click', openModal);
  buttonClose.addEventListener('click', closeModal);
  backdrop.addEventListener('click', closeModal);
</script>
