<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between">
    <a href="/">
      <div class="flex items-center gap-x-2 text-xl text-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-10 w-10"
        >
          <path
            d="M14.4 4.4 13 5.8l4.2 4.2-4.2 4.2 1.4 1.4L20 10zm-8.8 0L0 10l5.6 5.6L7 14.2 2.8 10 7 5.8zM9.989 16.184l-1.972-.328 2-12.03 1.972.328z"
          ></path>
        </svg>
        <span class="font-semibold text-heading">Phat Vo</span>
      </div>
    </a>

    <nav class="flex gap-x-2 font-medium">
      <a href="/posts" class="hover:text-heading">Blog</a>
      <a
        href="https://github.com/1612492"
        target="_blank"
        rel="noreferrer"
        class="hover:text-heading">GitHub</a
      >
      <a
        href="https://twitter.com/phatvo0509"
        target="_blank"
        rel="noreferrer"
        class="hover:text-heading">Twitter</a
      >
    </nav>
  </div>
</div>
