---
import type { MarkdownInstance } from 'astro';
import Card from './Card.astro';

type Props = {
  posts: MarkdownInstance<Record<string, any>>[];
};

const { posts } = Astro.props;
---

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="flex items-baseline justify-between">
    <div class="text-2xl font-semibold">
      <span>Recent</span>
      <span class="text-primary">Posts</span>
    </div>
    <div class="text-sm">
      <a href="/posts">View all Posts →</a>
    </div>
  </div>
  <div class="mt-4 grid grid-cols-1 items-stretch gap-6 md:grid-cols-3">
    {posts.map((post) => <Card post={post} />)}
  </div>
</div>
